html {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #919191;
    border-radius: 24px 24px 0 0;
}
body {
    margin-top: 4%;
    max-height: 625px;
    border-radius: 20px;
    background-color: #676767;
    padding: 25px;
}

.page-wrapper
{
    border-radius: 20px 20px;
    background-color: #000;
    max-height: 600px;
    color: #0f0;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    overflow-y: scroll;
}
p{
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing normal both;
    animation-timeline: view();
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
        white-space: normal;
    }
}


a {
    color: #0f0;
    text-decoration: none;
}


header, footer, nav, section, aside, div, p, h1, h2, h3, ul, li {
    padding: 10px;
    margin: 10px;
}

h2, h3 {
    color: #0f0;
}

h1{
}
header
{
    display:flex;
    flex-direction: column;
    align-items: center;
}

h2{
    text-align: center;
    width: 30%;
    position:relative;
    margin: auto;
    border: #0f0 dashed 1px;
}

abbr {
    border-bottom: 1px dotted #0f0;
    cursor: help;
}
.summary {
    border: #0f0 solid 1px;
    padding: 10px;
    margin: 10px;
}

p::before {
    content: "admin@PcZenGarden:~$ ";
    animation: curseur 3s infinite;
}

@keyframes curseur {
    0% {
        opacity: 0.75;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.75;
    }
}

#css-zen-garden {
    padding: 20px;
}

.page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.sidebar {
    background-color: #111;
    display: flex;
    flex-direction: column;
}

.design-selection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.design-selection nav {
    display: flex;
}

.sidebar a {
    color: #0f0;
}

.sidebar a:hover {
    text-decoration: underline;
}

footer a {
    margin-right: 10px;
}
.logo {
    position: absolute;
    bottom: -15%;
    left: 47%;
    width: 50px;
    height: 50px;
    background-image: url("https://img.icons8.com/?size=100&id=30840&format=png&color=000000");
    background-size: cover;
    text-indent: -9999px;
}
